<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @cocktail.name %></h1>
      <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item"><%= "#{dose.description} of #{dose.ingredient.name}" %>
        <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Delete #{dose.description} of #{dose.ingredient.name}?" }%>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
          </li>
      <% end  %>

      <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
        <%= link_to edit_cocktail_path(@cocktail), class: 'pull-right btn btn-default' do %>
          <i class="fa fa-pencil"></i> Edit this cocktail
        <% end %>

      <%= link_to "All cocktails you alcoholic", cocktails_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
